@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  line-height: var(--line-normal);
}

p,
span {
  font-family: $font-primary;
  line-height: var(--line-longest);
}

h2 {
  font-weight: 400;
  font-size: rem(26);
  line-height: 120%;
  color: $accent-01;
  @include responsive('tablet') {
    font-size: clamp(rem(20), 5vw, rem(24));
  }
  @include responsive('mobile') {
    font-size: clamp(rem(18), 4vw, rem(20));
  }

  &.secondary {
    color: $accent-03;
  }
}